nav span {
  cursor: pointer;
}

a {
  text-decoration: none;
}

button {
  margin: 2px;
}

button a {
  color: inherit;
}

.btn-close-danger {
  background-color: red;
}

.no-bullets {
  list-style-type: none;
  padding-left: 0px;
}

.no-border button {
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  transition: none;
}

.no-border button:hover {
  background-color: white;
  color: #0d6efd;
  transition: none;
}

.no-border-btn {
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.no-toggle .dropdown-toggle::after {
  display: none;
}

.form-select.no-caret {
  background-image: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.no-tab-margin ul,
li,
button {
  margin: 0;
}

.no-outline-button {
  outline: none;
  border: none !important;
}

.warm-up-placeholder::placeholder {
  color: #20c997;
}

.work-placeholder::placeholder {
  color: #0d6efd;
}

.light-placeholder::placeholder {
  color: #0dcaf0;
}

.heavy-placeholder::placeholder {
  color: #dc3545;
}

.form-focused-placeholder::placeholder {
  color: #198754;
}

.explosive-placeholder::placeholder {
  color: #fd7e14;
}

.slow-placeholder::placeholder {
  color: gray;
}