nav span {
  cursor: pointer;
}

a {
  text-decoration: none;
}

button {
  margin: 2px;
}

button a {
  color: inherit;
}

.btn-close-danger {
  background-color: red;
}

.no-bullets {
  list-style-type: none;
  padding-left: 0px;
}