nav span {
  cursor: pointer;
}

a {
  text-decoration: none;
}

button {
  margin: 2px;
}

button a {
  color: inherit;
}

.btn-close-danger {
  background-color: red;
}

.no-bullets {
  list-style-type: none;
  padding-left: 0px;
}

.no-border button {
  border: none;
  border-radius: 50%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.no-toggle .dropdown-toggle::after {
  display: none;
}
