name: React Build and Upload Artifact

on:
  push:
    branches:
      - work-48

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
      - name: Install dependencies
        run: npm ci
      - name: Build React app
        run: npm run build
      - name: Upload production-ready build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: react-app-build
          path: ./dist